go 1.26.4

use (
	.
	./cmd
	./examples/microservices
	./pkg/cache/memory
	./pkg/db/drivers/pgx
	./pkg/db/sql
	./pkg/debug/actuator
	./pkg/errors/fiber
	./pkg/errors/grpc
	./pkg/events
	./pkg/features/flags
	./pkg/grpc
	./pkg/health
	./pkg/http/fiber
	./pkg/logging/slog
	./pkg/logging/tint
	./pkg/otel
	./pkg/resilience/fiber
	./pkg/resilience/grpc
	./pkg/resilience/policy
	./pkg/testkit
	./pkg/workers/pool
	./pkg/workers/scheduler
	./pkg/workflows/temporal
)

replace github.com/Vilsol/lakta v0.0.6 => .
