go 1.26.4

use (
	.
	./cmd
	./examples/microservices
	./pkg/db/drivers/pgx
	./pkg/db/sql
	./pkg/events
	./pkg/features/flags
	./pkg/grpc
	./pkg/health
	./pkg/http/fiber
	./pkg/logging/slog
	./pkg/logging/tint
	./pkg/otel
	./pkg/testkit
	./pkg/workers/pool
	./pkg/workflows/temporal
)

replace github.com/Vilsol/lakta v0.0.6 => .
